<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

# Assignment: Exploratory Data Analysis with SQL
Estimated time needed: 60 minutes


# Introduction
Using this R notebook you will perform exploratory data analysis using SQL queries with the RSQLite R package. You will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your SQL Lite connection

#### Install RSQLite package
The RSQlite  package needs to be installed in your notebook. Let’s load the RSQLite package by clicking on the following cell and executing it (Shift+Enter):

In [3]:
install.packages("https://cran.r-project.org/src/contrib/Archive/RSQLite/RSQLite_0.10.0.tar.gz", repos = NULL, type = "source", dependencies = TRUE)

#### Restart Kernel

After installing the RSQLite package, it is necessary to restart R Kernel. Click **Kernel** > **Restart Kernel** from the main menu. This will register the newly installed packages. Now proceed to load the RSQLite package. 
Now proceed to load the RSQLite package. Load RSQLite Load the 'RSQLite' library, and use the 'dbConnect( )' function as you did in the previous labs to establish the connection to your SQLite database. You are now ready to start running SQL queries using the RSQLite library as you did in Course 3.

In [4]:
library("RSQLite")

Loading required package: DBI

In [5]:
# provide your solution here to connect db

library(RSQLite)


conn <- dbConnect(SQLite(), dbname = "my_database.sqlite")

Download the following csv files:

*   [WORLD_CITIES](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv)

*   [BIKE_SHARING_SYSTEMS](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv)

*   [CITIES_WEATHER_FORECAST](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv)

*   [SEOUL_BIKE_SHARING](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv)

and load the csv's  into 4 tables as mentioned below
* SEOUL_BIKE_SHARING

* CITIES_WEATHER_FORECAST

* BIKE_SHARING_SYSTEMS 

*  WORLD_CITIES

> Hint : Use the read_csv() function and dbWriteTable() functions


## Task 1 - Record Count
#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [6]:
# provide your solution here
library(readr)
file_urls <- c(
  "WORLD_CITIES" = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv",
  "BIKE_SHARING_SYSTEMS" = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv",
  "CITIES_WEATHER_FORECAST" = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv",
  "SEOUL_BIKE_SHARING" = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv"
)

# download the files
for (name in names(file_urls)) {
  download.file(file_urls[name], destfile = paste0(name, ".csv"), method = "libcurl")
}

# conn <- dbConnect(SQLite(), dbname = "my_database.sqlite")

for (name in names(file_urls)) {
  # read csv
  data <- read_csv(paste0(name, ".csv"))
  
  # write to SQLite
  dbWriteTable(conn, name, data, row.names = FALSE)
}

# test if succeed
for (name in names(file_urls)) {
  query <- paste("SELECT COUNT(*) FROM", name)
  count <- dbGetQuery(conn, query)
  cat(name, "has", count[1, 1], "rows.\n")
}


dbListTables(conn)
dbGetQuery(conn, "SELECT count(*) as Count_of_Records FROM seoul_bike_sharing")

Parsed with column specification:
cols(
  CITY = col_character(),
  CITY_ASCII = col_character(),
  LAT = col_double(),
  LNG = col_double(),
  COUNTRY = col_character(),
  ISO2 = col_character(),
  ISO3 = col_character(),
  ADMIN_NAME = col_character(),
  CAPITAL = col_character(),
  POPULATION = col_double(),
  ID = col_double()
)
Warning message in sqliteWriteTable(conn, name, value, ...):
“table WORLD_CITIES exists in database: aborting dbWriteTable”Parsed with column specification:
cols(
  COUNTRY = col_character(),
  CITY = col_character(),
  SYSTEM = col_character(),
  BICYCLES = col_double()
)
Warning message in sqliteWriteTable(conn, name, value, ...):
“table BIKE_SHARING_SYSTEMS exists in database: aborting dbWriteTable”Parsed with column specification:
cols(
  CITY = col_character(),
  WEATHER = col_character(),
  VISIBILITY = col_double(),
  TEMP = col_double(),
  TEMP_MIN = col_double(),
  TEMP_MAX = col_double(),
  PRESSURE = col_double(),
  HUMIDITY = col_double(),
  WIND_SPEED = col_double(),
  WIND_DEG = col_double(),
  SEASON = col_character(),
  FORECAST_DATETIME = col_datetime(format = "")
)
Warning message in sqliteWriteTable(conn, name, value, ...):
“table CITIES_WEATHER_FORECAST exists in database: aborting dbWriteTable”Parsed with column specification:
cols(
  DATE = col_character(),
  RENTED_BIKE_COUNT = col_double(),
  HOUR = col_double(),
  TEMPERATURE = col_double(),
  HUMIDITY = col_double(),
  WIND_SPEED = col_double(),
  VISIBILITY = col_double(),
  DEW_POINT_TEMPERATURE = col_double(),
  SOLAR_RADIATION = col_double(),
  RAINFALL = col_double(),
  SNOWFALL = col_double(),
  SEASONS = col_character(),
  HOLIDAY = col_character(),
  FUNCTIONING_DAY = col_character()
)
Warning message in sqliteWriteTable(conn, name, value, ...):
“table SEOUL_BIKE_SHARING exists in database: aborting dbWriteTable”

WORLD_CITIES has 26569 rows.
BIKE_SHARING_SYSTEMS has 480 rows.
CITIES_WEATHER_FORECAST has 160 rows.
SEOUL_BIKE_SHARING has 8465 rows.

[1] "BIKE_SHARING_SYSTEMS"    "CITIES_WEATHER_FORECAST"
[3] "SEOUL_BIKE_SHARING"      "WORLD_CITIES"

  Count_of_Records
1 8465

## Task 2 - Operational Hours
#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [8]:
# provide your solution here

dbGetQuery(conn, "SELECT count(HOUR) as Numer_of_hours FROM seoul_bike_sharing
WHERE RENTED_BIKE_COUNT > 0")

  Numer_of_hours
1 8465

## Task 3 - Weather Outlook
#### Query the the weather forecast for Seoul over the next 3 hours.
Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [9]:
# provide your solution here
dbGetQuery(conn, "SELECT * FROM CITIES_WEATHER_FORECAST
WHERE CITY = 'Seoul'
Limit 1")

  CITY  WEATHER VISIBILITY TEMP  TEMP_MIN TEMP_MAX PRESSURE HUMIDITY WIND_SPEED
1 Seoul Clear   10000      12.32 10.91    12.32    1015     50       2.18
  WIND_DEG SEASON FORECAST_DATETIME
1 248      Spring 1618574400.0

## Task 4 - Seasons
#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [10]:
# provide your solution here
dbGetQuery(conn, "SELECT DISTINCT(SEASONS) FROM seoul_bike_sharing")

  SEASONS
1 Winter
2 Spring
3 Summer
4 Autumn

## Task 5 - Date Range
#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [11]:
# provide your solution here
dbGetQuery(conn, "SELECT MIN(DATE) as Start_Date, MAX(DATE) as End_Date FROM seoul_bike_sharing")

  Start_Date End_Date
1 01/01/2018 31/12/2017

## Task 6 - Subquery - 'all-time high'
#### determine which date and hour had the most bike rentals.

### Solution 6

In [12]:
# provide your solution here
dbGetQuery(conn, "SELECT DATE, HOUR, RENTED_BIKE_COUNT as Maximum_COUNT FROM seoul_bike_sharing
WHERE RENTED_BIKE_COUNT = (SELECT MAX(RENTED_BIKE_COUNT) FROM seoul_bike_sharing)")

  DATE       HOUR Maximum_COUNT
1 19/06/2018 18   3556

## Task 7 - Hourly popularity and temperature by season
#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [13]:
# provide your solution here
dbGetQuery(conn, "SELECT SEASONS, HOUR, AVG(RENTED_BIKE_COUNT), AVG(TEMPERATURE) FROM seoul_bike_sharing GROUP BY SEASONS, HOUR ORDER BY AVG(RENTED_BIKE_COUNT) desc limit 10")

   SEASONS HOUR AVG(RENTED_BIKE_COUNT) AVG(TEMPERATURE)
1  Summer  18   2135.141               29.38791
2  Autumn  18   1983.333               16.03185
3  Summer  19   1889.250               28.27378
4  Summer  20   1801.924               27.06630
5  Summer  21   1754.065               26.27826
6  Spring  18   1689.311               15.97222
7  Summer  22   1567.870               25.69891
8  Autumn  17   1562.877               17.27778
9  Summer  17   1526.293               30.07691
10 Autumn  19   1515.568               15.06346

## Task 8 - Rental Seasonality
#### Find the average hourly bike count during each season. 
Also include the minimum, maximum, and standard deviation of the hourly bike count for each season. 

> Hint : Use the SQRT(AVG(col*col) - AVG(col)*AVG(col) ) function where col refers to your column name for finding the standard deviation

### Solution 8

In [28]:
# provide your solution here

dbGetQuery(conn, " SELECT SEASONS, AVG(RENTED_BIKE_COUNT) as AVG_S_COUNT, MIN(RENTED_BIKE_COUNT) as MIN_S_COUNT, MAX(RENTED_BIKE_COUNT) as MAX_S_COUNT FROM seoul_bike_sharing
group by (SEASONS)
Order by AVG_S_COUNT desc")

# No Standard deviation function available in SQLlite so I will not include it.

  SEASONS AVG_S_COUNT MIN_S_COUNT MAX_S_COUNT
1 Summer  1034.0734   9           3556
2 Autumn   924.1105   2           3298
3 Spring   746.2542   2           3251
4 Winter   225.5412   3            937

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality
#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?
Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [29]:
# provide your solution here
dbGetQuery(conn," SELECT SEASONS, AVG(RENTED_BIKE_COUNT) as AVG_S_COUNT, AVG(TEMPERATURE) as AVG_S_TEMP, AVG(HUMIDITY) as AVG_S_HUMIDITY, AVG(WIND_SPEED) as AVG_WIND_SPEED, AVG(VISIBILITY) as AVG_VISIBILITY, AVG(DEW_POINT_TEMPERATURE) as AVG_DEW_POINT, AVG(SOLAR_RADIATION) as AVG_SOLAR_RADIATION, AVG(RAINFALL) as AVG_RAINFALL, AVG(SNOWFALL) as AVG_SNOWFALL   FROM seoul_bike_sharing
group by (SEASONS)
Order by AVG_S_COUNT desc")

  SEASONS AVG_S_COUNT AVG_S_TEMP AVG_S_HUMIDITY AVG_WIND_SPEED AVG_VISIBILITY
1 Summer  1034.0734   26.587711  64.98143       1.609420       1501.745
2 Autumn   924.1105   13.821580  59.04491       1.492101       1558.174
3 Spring   746.2542   13.021685  58.75833       1.857778       1240.912
4 Winter   225.5412   -2.540463  49.74491       1.922685       1445.987
  AVG_DEW_POINT AVG_SOLAR_RADIATION AVG_RAINFALL AVG_SNOWFALL
1  18.750136    0.7612545           0.25348732   0.00000000
2   5.150594    0.5227827           0.11765617   0.06350026
3   4.091389    0.6803009           0.18694444   0.00000000
4 -12.416667    0.2981806           0.03282407   0.24750000

## Task 10 - Total Bike Count and City Info for Seoul
#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.
Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [30]:
# provide your solution here
dbGetQuery(conn, "SELECT B.BICYCLES, B.CITY, B.COUNTRY, W.LAT, W.LNG, W.POPULATION  FROM BIKE_SHARING_SYSTEMS AS B
LEFT JOIN WORLD_CITIES AS W ON B.CITY = W.CITY_ASCII
WHERE B.CITY = 'Seoul'")

  BICYCLES CITY  COUNTRY     LAT     LNG POPULATION
1 20000    Seoul South Korea 37.5833 127 21794000

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system
#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.
Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [31]:
# provide your solution here
dbGetQuery(conn, "SELECT B.BICYCLES, B.CITY, B.COUNTRY, W.LAT, W.LNG, W.POPULATION  FROM BIKE_SHARING_SYSTEMS AS B
LEFT JOIN WORLD_CITIES AS W ON B.CITY = W.CITY_ASCII
WHERE B.CITY = 'Seoul' OR B.BICYCLES BETWEEN 15000 AND 20000
order by B.BICYCLES desc")

  BICYCLES CITY     COUNTRY     LAT     LNG      POPULATION
1 20000    Seoul    South Korea 37.5833 127.0000 21794000
2 20000    Kunshan  China            NA       NA       NA
3 20000    Weifang  China       36.7167 119.1000  9373000
4 20000    Xi'an    China       34.2667 108.9000  7135000
5 20000    Zhuzhou  China       27.8407 113.1469  3855609
6 19165    Shanghai China       31.1667 121.4667 22120000
7 18000    Xuzhou   China            NA       NA       NA
8 16000    Beijing  China       39.9050 116.3914 19433000
9 15000    Ningbo   China       29.8750 121.5492  7639000

In [34]:

dbDisconnect(conn)

[1] TRUE

## Author(s)

<h4> Jeff Grossman </h4>
<h4> Lakshmi Holla </h4>


## Other Contributor(s)

<h4>  Malika Singla </h4>

<!--## Change log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2022-03-03        | 1.0     |Lakshmi Holla  | Created lab using sqlite3          |-->

## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>